@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@model AUserBoligForeningMVC.Models.Lejer

@{
    ViewData["Title"] = "Edit";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Edit</h1>

    <h4>Lejer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Fornavn" class="control-label"></label>
                    <input asp-for="Fornavn" class="form-control" />
                    <span asp-validation-for="Fornavn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Efternavn" class="control-label"></label>
                    <input asp-for="Efternavn" class="form-control" />
                    <span asp-validation-for="Efternavn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adresse" class="control-label"></label>
                    <input asp-for="Adresse" class="form-control" />
                    <span asp-validation-for="Adresse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostNr" class="control-label"></label>
                    <input asp-for="PostNr" class="form-control" />
                    <span asp-validation-for="PostNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TlfNr" class="control-label"></label>
                    <input asp-for="TlfNr" class="form-control" />
                    <span asp-validation-for="TlfNr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="By" class="control-label"></label>
                    <input asp-for="By" class="form-control" />
                    <span asp-validation-for="By" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Alder" class="control-label"></label>
                    <input asp-for="Alder" class="form-control" />
                    <span asp-validation-for="Alder" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}
else
{
    <br />
    <br />

    <center>
        <h3>Du har ikke adgang til denne side</h3>

        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <input type="submit" class="btn btn-primary btn-md" id="Button1" value="Login" />

        </a>
    </center>




    <br />
    <br />
    <br />
}