<br />
<br />
<div class="row">



    <div class="col">
        <center>
            <img width="400" src="~/img/handshake.PNG" />

        </center>

    </div>
</div>
<br />
<br />


<div class="row">



    <div class="col">
        <center>
            <h4>Dokumenter</h4>
            <p>Her kan du finde relevante dokumenter i forbindelse dine aftaler og forpligtelser</p>

            <a href="~/DokumentArkivs/Lejekontrakt">
                <input type="submit" value="Gå Til Lejekontrakt" class="btn btn-primary" />
            </a>

            <a href="~/DokumentArkivs/Indflytningspapir">

                <input type="submit" value="Gå Til Indflytningspapir" class="btn btn-primary" />
            </a>


        </center>

    </div>
</div>




