@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@model AUserBoligForeningMVC.Models.Regninger

@{
    ViewData["Title"] = "Edit";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Edit</h1>

    <h4>Regninger</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Regning" class="control-label"></label>
                    <input asp-for="Regning" class="form-control" />
                    <span asp-validation-for="Regning" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BeboerMail" class="control-label"></label>
                    <input asp-for="BeboerMail" class="form-control" />
                    <span asp-validation-for="BeboerMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calendar" class="control-label"></label>
                    <input asp-for="Calendar" class="form-control" />
                    <span asp-validation-for="Calendar" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <a href="~/Regningers/AdminIndex">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="~/Regningers/AdminIndex">Back to List</a>
    </div>

}
else
{
    <br />
    <br />

    <center>
        <h3>Du har ikke adgang til denne side</h3>

        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <input type="submit" class="btn btn-primary btn-md" id="Button1" value="Login" />

        </a>
    </center>




    <br />
    <br />
    <br />
}
