@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Ny Bruger er nu registeret";
}
<br />
<center>
    <h1>@ViewData["Title"]</h1>
    <br />

    <a href="~/Home">
        Tilbage til startsiden
    </a>
</center>
