@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registrer Confirmation";
}

<br />
<center>
    <h1>@ViewData["Title"]</h1>
</center>
<br />
@{

if (@Model.DisplayConfirmAccountLink)
{ <center>

    <p>
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">
            <input type="submit" class="btn btn-primary btn-md" id="Button1" value="Accept Ny Bruger" />
        </a>
    </p>
</center>
    }
       
else
{
<p>
    Please check your email to confirm your account.
</p>
}
}
