
<div class="row">



    <div class="col">
        <center>
            <img width="355" src="~/img/bills.PNG" />

        </center>

    </div>
</div>
<br />
<br />
<div class="row">



    <div class="col">
        <center>
            <h4>Regninger</h4>
            <p>Her kan du se ekstra regninger for udlejning af services</p>

            <a href="~/Regningers/Index">
                <input type="submit" class="btn btn-primary btn-md" id="Button1" value="Gå Til Regninger" />

            </a>
        </center>

    </div>
</div>