

<div class="row">


    
    <div class="col">
        <center>
            <img width="380" src="~/img/chatchat.PNG" />

        </center>

    </div>
</div>

<div class="row">



    <div class="col">
        <center>
            <h4>Forum</h4>
            <p>Chat med andre beboer og se nyheder direkte fra bestyrrelsen</p>
            
            <a href="~/posts/Index">
                <input type="submit" class="btn btn-primary btn-md" id="Button1" value="Gå Til Chat" />

            </a>
        </center>

    </div>
</div>