
<br />
<div class="row">



    <div class="col">
        <center>
            <img width="380" src="~/img/kalender.PNG" />

        </center>

    </div>
</div>
<br />
<br />
<br />
<br />

<div class="row">



    <div class="col">
        <center>
            <h4>Kalender</h4>
            <p>Her har du mulighed for at leje EL-bil, industrielt køkken og fælles lokale til fest</p>

            <a href="~/Bookings/Index">
                <input type="submit" class="btn btn-primary btn-md" id="Button1" value="Gå Til Kalendere" />

            </a>
        </center>

    </div>
</div>